<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <ul class="payment-icons">
          <li><i class="fab fa-cc-amex text-white"></i></li>
          <li><i class="fab fa-cc-mastercard text-white"></i></li>
          <li><i class="fab fa-cc-diners-club text-white"></i></li>
          <li><i class="fab fa-cc-discover text-white"></i></li>
          <li><i class="fab fa-cc-paypal text-white"></i></li>
          <li><i class="fab fa-cc-stripe text-white"></i></li>
          <li><i class="fab fa-cc-visa text-white"></i></li>
          <!-- Add more payment icons as needed -->
        </ul>
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>