{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5"']  /;KH =[- >
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Log in!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Glad that you are with us </p>
        </div>
    </div>
</header>

<main class="py-5">
  <div class="container">
    <div class="row">
      <!-- Adding Flash message here for users trying to register twice -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--Rendering login form here-->
        {{render_form(form, novalidate=True, button_map={"submit": "primary"}, render_kw={'style': 'font-weight: bold;' 'font-size: larger;'}) }}
      </div>
    </div>
  </div>
</main>


{% include "footer.html" %} {% endblock %}