{% include "header.html" %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Our Products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in all_items %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- if on Sale badge-->
                            <!-- <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->
                            <!-- Product image-->
                            <a href="{{ url_for('show_product', product_id=item.id) }}" class="black-text">
                            <img class="card-img-top" src="{{ url_for('static', filename=item.image_path) }}" alt="..." />

                            <!-- Product details-->
                            <div class="card-body p-4">
                                
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{item.name}}</h5>
                                    <!-- Product reviews-->
                                </a>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    {{item.price}}
                                </div>
                                
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                            <!-- Only show delete button if user id is 1 (admin user) -->
                            {% if current_user.id == 1: %}
                            <a href="{{url_for('delete_product', product_id=item.id) }}">✘</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% include "footer.html" %}
